@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

:root {
  --body-bg: #f5f5f5;
  --txt-color: #6d6d6d;
  --txt-white: #fff;
  --calc-res-color: #2f2d2f;
  --calc-btn-color: rgb(191, 0, 255);
  --calc-bg: #fff;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.calculator {
  padding: 20px;
  height: 510px;
  width: 400px;

  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--calc-bg);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.37);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.calculator_btns {
  display: grid;
  align-self: center;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1px;
  column-gap: 20px;
}

.calculator_btns button {
  border: 0;
  outline: 0;
  width: 70px;
  height: 40px;
  border-radius: 10px;
  font-size: 1.3em;
  font-weight: 500;
  background-color: transparent;
  color: var(--txt-color);
  font-family: "Montserrat", sans-serif;
  box-shadow: inset 0 1px 0px 0 rgba(0, 0, 0, 0.37);
  cursor: pointer;
}

.calculator_btns .btn_op {
  color: purple;
}

.calculator_btns .btn_del {
  color: red;
}

.calculator_result {
  position: relative;
  margin-bottom: 20px;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.calculator_result_exp {
  font-size: 3em;
  line-height: 1;
  transform-origin: right bottom;
  transition: transform 0.3s ease;
  color: var(--calc-res-color);
}

.calculator_result_exp:last-child {
  position: absolute;
  right: 0;
}

.calculator_result_exp span {
  display: inline-block;
  overflow: hidden;
  transition: width 0.3s ease;
}
