.extraInfo {
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  width: 360px;
  box-shadow: inset 1px 2px 4px 3px rgba(0, 0, 0, 0.5);
  transition: height ease-in-out 0.3s;
  overflow: hidden;
}
.extraInfo div {
  padding: 10px;
  width: 50%;
  text-align: center;
  box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 250, 0.5);
  padding-top: 15px;
  transition: color ease-in-out 0.3s;
}
.extraInfo div:hover {
  color: aqua;
}
.website {
  text-align: center;
  width: 100%;
  box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 250, 0.5);
  padding-top: 15px;
}
a {
  transition: color ease-in-out 0.3s;
}

a:link {
  color: black;
}
a:hover {
  color: aqua;
}
a:visited {
  color: black;
}
a:visited:hover {
  color: aqua;
}
a:active {
  transform: rotate(360deg);
}
