.cryptoHeader {
  height: 90px;
}
.input {
  padding: 5px;
  width: 50%;
  margin: auto;
  margin-top: 25px;
  border: 1px solid lightgrey;
  border-radius: 6px;
  font-size: 16px;
  outline: 1px;
}
.legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: grey;
  font-size: 0.8em;
  margin-bottom: 10px;
}
.legend p {
  width: 30%;
  text-align: right;
}
.legend p:first-child {
  left: 5px;
}
.cryptoDisplay {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow: scroll;
  height: 405px;
}
.cryptoRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 360px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 0px 4px 0;
}

.cryptoIcon {
  padding-left: 10px;
  width: 30px;
  height: 20px;
}
.pricePlus {
  color: green;
  padding-right: 10px;
}
.priceMinus {
  color: crimson;
  padding-right: 10px;
}
