.input {
  padding: 5px;
  width: 50%;
  margin: auto;
  margin-top: 25px;
  border: 1px solid lightgrey;
  border-radius: 6px;
  font-size: 16px;
  outline: 1px;
}
.cityName {
  padding-top: 20px;
  font-size: 3.5em;
}

.temp {
  font-size: 3em;
}

.iconDiv {
  margin: auto;
  padding-top: 40px;
}

.tempHL {
  display: flex;
  flex-direction: row;
  margin: auto;
  font-size: 1em;
}

.H {
  padding: 15px;
}
