.menuBody {
  display: flex;
  align-self: flex-end;
  margin-right: 100px;
  margin-top: 50px;
}
.menuBodyOpen {
  display: flex;
  align-self: flex-end;
  margin-right: 100px;
  margin-top: 50px;
}

.widgetButton {
  background: none;
  border: 0;
  outline: 0;
  color: rgb(78, 164, 230);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgb(40, 40, 43);
  width: 60px;
  height: 60px;
  border: 3px solid #fff;
  box-shadow: -3px 4px 8px 1px grey;
}

.widgetButton:hover {
  background-color: rgba(40, 40, 43, 0.8);
  width: 70px;
  height: 70px;
}
.menuBody li {
  position: absolute;
  list-style-type: none;
  z-index: 1;
  top: 110px;
  right: 110px;
  transition: all 0.8s ease-in-out;
}

.menuBodyOpen li {
  position: absolute;
  list-style-type: none;
  z-index: 1;
  top: 110px;
  right: 110px;
  transition: all 0.5s ease-in-out;
}
.menuBodyOpen li:nth-child(1) {
  transform: rotate(-360deg) translateY(-80px);
}
.menuBodyOpen li:nth-child(2) {
  transform: rotate(-420deg) translateY(-80px);
}
.menuBodyOpen li:nth-child(3) {
  transform: rotate(-480deg) translateY(-80px);
}
.menuBodyOpen li:nth-child(4) {
  transform: rotate(-540deg) translateY(-80px);
}
.menuBodyOpen li:nth-child(2) button {
  transform: rotate(60deg);
}
.menuBodyOpen li:nth-child(3) button {
  transform: rotate(120deg);
}
.menuBodyOpen li:nth-child(4) button {
  transform: rotate(180deg);
}
.menu-btn {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(40, 40, 43);
  width: 80px;
  height: 80px;
  z-index: 2;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: 3px solid #fff;
  border-radius: 50%;
  box-shadow: -3px 4px 8px 1px grey;
}
.menu-btn__burger {
  width: 40px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
  z-index: 3;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-14px);
}
.menu-btn__burger::after {
  transform: translateY(14px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg);
}

.wrapper {
  display: flex;
  width: 460px;
  margin: auto;
  overflow: hidden;
  height: 0px;
  transition: height ease-in-out 0.5s;
}

.closeButton {
  text-align: center;
  position: relative;
  left: 49px;
  top: 28px;
  height: 21px;
  box-shadow: 0 0.5px 0 0 grey;
}

.componentsList {
  display: flex;
  flex-direction: column;
  width: 460px;
  margin: auto;
  list-style-type: none;
}
