@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
body {
  background-color: antiquewhite;
}

.App {
  display: flex;
  flex-direction: column;
  background-position: center;
  height: 100%;
  background-size: cover;
  font-family: "Montserrat", sans-serif !important;
}

.container {
  text-align: center;
  width: 400px;
  height: 510px;
}
.glass {
  background: #fff;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.37);
}
