@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
body,
html {
  height: 100%;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background: url(./assets/pawel-nolbert-xe-ss5Tg2mo-unsplash.jpg);
  background-position: center;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif !important;
}

.container {
  width: 500px;
  height: 300px;
  margin: 20px auto;
}
.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
